  <div class="content">
  <div class="chrome">
    <div class="gyc_info">
      <p>You've got Chrome.  Yay.</p>
    </div>
    <div class="download_extension_button">
      <a id="download_extension" href="/">Download getYourCrayon</a>
    </div>
  </div>
  <div class="nochrome">
    <div class="info_nochrome">
       <p>You need Chrome.  Come back with it to getYourCrayon.
    </div>
    <div class="download_chrome_button">
      <a href="https://www.google.com/intl/en/chrome/browser/">Get Chrome</a>
    </div>
  </div>
  <div class='google-badge'><%= link_to image_tag("webstorebadge.png"), "https://chrome.google.com/webstore/detail/pbkgodffljfhdlinelnhklhcdoiedbej" %></div>
  <div class='search_bar'>
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:search_input, '', placeholder: "Search") %>
      <%= submit_tag("Search", class: 'search_button') %>
    <% end %>
  </div>
  <% if @no_results %>
    <%= render "none" %>
  <% else %>
    <div class="tags_section">
    	<h2 id="tags_header"></h2>
       <div id='tagCloud' data-maxcount="<%= @max_count %>">
         <% @tags.each do |tag| %>
         <a href="<%= serverURL %>tag/<%= tag.id %>" data-count="<%=tag.taggings_count %>"><%= tag.name %></a>
         <% end %>
       </div>
     </div>
    </div>
  <% end %>
